@import "./_variables.scss";

.k-grid-content {
    min-height: 100px; /* needed to show the loading when height is auto */
}

.k-grid {
    .k-grid-search {
        margin-left: auto;
        margin-right: 0;
    }

    tbody {
        .k-command-cell {
            .k-button {
                .k-button-text {
                    display: none;
                }
            }
        }
    }
}
